{
  "AppConfig": {
    "ConnectionString": "Host=localhost;Database=market_locator;Username=market_locator_app;Password=1234"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  }
}
