{
  "AppConfig": {
    "ConnectionString": "Host=localhost;Database=market_locator;Username=market_locator_app;Password=1234",
    "SpreadsheetId": "you can find it in the url of the spreadsheet, just paste that part here"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  }
}
