@import "~leaflet/dist/leaflet.css";
$primary: #003a00;
$secondary: white;
@import "~bootstrap/scss/bootstrap";
$fa-font-path: '~node_modules/font-awesome/fonts';
@import "~font-awesome/scss/font-awesome";

/* You can add global styles to this file, and also import other style files */
