.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

#toolbar {
  position: relative;
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 0;
  z-index: 1000;
  button:not(:last-child) {
    float: right;
  }
}

.title-button {
  text-align: left;
  border-radius: 0 50px 50px 0;
}
